
body{
    background-color: rgba(10,10,10,0.8);
}
#header{
}
#email{
    font-weight: bold;
    width: 150px;
    margin:50px 40px 10px;
}
#password{
    font-weight: bold;
    width:150px;
    margin:30px 40px 40px;
}
#btn{
    background-color: rgba(10,200,100,0.2);
    margin-top: 30px;
    width: 80px;
    height: 30px;
    margin-bottom: 40px;
    border-radius: 5px;
}
#container{
    margin-top: 50px;
    background-color: rgba(220,220,220,0.5);
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    border:1px solid black;
}
#email:hover{
    opacity: 0.8;
    transform: scaleX(1.1);
}
#email:focus{
    transform: scaleX(1.1);
}
#password:hover{
    opacity: 0.8;
    transform: scaleX(1.1);
}
#password:focus{
    transform: scaleX(1.1);
}
