/* Google material icons fonts */
@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/material-icons.woff2) format("woff2");
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

/* Basic */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Root Variables */
:root {
	--small-border-radius: 0.2rem;
	--border-radius: 0.4rem;
	--green: #00c853;
	--black: #263238;
	--black-fade: #37474f;
	--black-fader: #455a64;
	--teal: #00897b;
	--cyan: #00bcd4;
	--white: #fafafa;
}

body::-webkit-scrollbar {
	width: 0.5rem;
}

body::-webkit-scrollbar-track {
	background-color: var(--black);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--green);
	border-radius: var(--border-radius);
}

/* Elements */

section div.container {
	padding-top: 2rem;
	padding-bottom: 6.5rem;
}

svg {
	height: 7vw;
	width: 100%;
	display: block;
	margin-bottom: -1px;
}

@media screen and (max-width: 640px) {
	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h5 {
		font-size: 1.3rem;
	}
}

/* Nested Elements */

section h5 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	display: inline-block;
	position: relative;
	z-index: 1;
}

section a {
	color: var(--cyan);
	display: inline-block;
	position: relative;
}

section a:before,
section h5:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: -3px;
	left: 0;
	background-color: var(--cyan);
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}

section a:hover:before,
section h5:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

section em {
	color: var(--white);
}

section:not(#contact) a[href^="http"]::after {
	margin-left: 3px;
	margin-right: 6px;
	font-family: "Material Icons";
	content: "launch";
	font-weight: bold;
	font-size: medium;
}

/* Changes to materialize */
.row .col {
	margin: 0;
	padding: 0;
}
.carousel .carousel-item {
	height: 200px;
	width: 250px;
}
.carousel .carousel-item .card-title {
	position: relative;
}
.carousel .carousel-item .card-image {
	background-color: var(--black-fade);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}
.carousel {
	height: 450px;
	margin-top: -50px;
}
.card {
	border-radius: var(--border-radius);
	background-color: transparent;
}
.card-content {
	background-color: var(--white);
	border-radius: var(--border-radius) !important;
}

/*-------------------------- Hero --------------------------------- */

/* Hero Navbar */
nav div.sidenav-trigger {
	margin-right: 0.65rem;
}
nav div.sidenav-trigger .menu {
	margin-top: 0.65rem;
	height: 45px;
	padding: 0.4rem 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: var(--border-radius);
	border: 2px solid var(--black-fade);
}

@media screen and (min-width: 640px) {
	nav div.sidenav-trigger .menu::before {
		content: "Menu";
		margin-right: 0.4rem;
	}
}

nav div.sidenav-trigger .menu i {
	font-size: 1.4rem;
}

/* Banner */
#hero {
	height: 85vh;
	position: relative;
}
#hero .container {
	padding-top: 1rem;
}
@media screen and (max-width: 640px) {
	#hero {
		height: 60vh;
	}
	#hero .container {
		padding-top: 0rem;
	}
}

/* Animated down down-arrow */
#animated-down-arrow {
	position: absolute;
	top: 70vh;
	left: 50%;
	transform: translate(-50%, -50%);
}
#animated-down-arrow span {
	display: block;
	width: 30px;
	height: 30px;
	border-bottom: 5px solid var(--green);
	border-right: 5px solid var(--green);
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}
#animated-down-arrow span:nth-child(2) {
	animation-delay: -0.2s;
}
#animated-down-arrow span:nth-child(3) {
	animation-delay: -0.4s;
}

@media screen and (max-width: 640px) {
	#animated-down-arrow {
		display: none;
	}
}
/*-------------------------- Hero --------------------------------- */

/* --------------------------About --------------------------------- */

/* Modifying flow text to range between 23px to 14px */
section#about .flow-text {
	font-size: calc(14px + (23 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* --------------------------About --------------------------------- */

/* --------------------------Gallery --------------------------------- */
section#gallery .row {
	margin-top: 3rem;
}

section#gallery .row .col {
	padding: 0.8rem !important;
}

section#gallery img {
	border-radius: var(--border-radius);
}

/* --------------------------Gallery --------------------------------- */

/* --------------------------Contact --------------------------------- */
section#contact .row {
	margin-top: 3rem;
}

section#contact a {
	display: inline-block;
	margin-left: 0.5rem;
}

@media screen and (max-width: 640px) {
	section#contact a {
		margin-left: 0.2rem;
	}
}

section#contact .input-field input,
section#contact .input-field textarea {
	color: var(--white);
}
/* label underline focus color */
section#contact .input-field input:focus,
section#contact .input-field textarea:focus {
	border-bottom: 1px solid var(--white);
	box-shadow: 0 1px 0 0 var(--white);
}
/* label focus color */
section#contact .input-field input:focus + label,
section#contact .input-field textarea:focus + label {
	color: var(--white);
}

section#contact button[type="submit"] {
	border-radius: var(--border-radius);
	padding: 0.4rem 1rem;
	height: 45px;
}
/* --------------------------Contact --------------------------------- */
