/* ////////global */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #061125;
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 5rem;
  width: 90%;
  margin-left: 5%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: #96b7f1;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  color: hsl(184, 65%, 59%);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #2caeba;
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  color: hsl(185, 94%, 87%);
  margin-bottom: 4rem;
  text-align: center;
}

/* social links */
.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.75rem;
  color: hsl(209, 61%, 16%);
  transition: all 0.3s linear;
}
.social-link:hover {
  color: #2caeba;
}

/*
\\\\\Navbar\\\\\\\\
*/

.navbar {
  background-color: #050d1c;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  z-index: 200;
  /* filter: blur(1px); */
  /* border: 1px; */
  border: 0.2px solid #96b7f1;
  position: fixed;
  opacity: 90%;
  filter: grayscale(0.5) opacity(0.8);
}
.nav-center {
  width: 90vw;
  /* max-width: 1170px; */
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  margin-left: 1rem;
}
.toggle-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  color: #96b7f1;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-right: 10px;
  margin-top: 15px;
}
.toggle-btn:hover {
  color: hsl(185, 84%, 25%);
}
.nav-links {
  display: none;
}
.logo-text {
  margin-left: 1rem;
  text-transform: uppercase;
  color: #cecece;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links li {
    margin-right: 2rem;
    right: 10px;
  }
  .nav-links a {
    text-transform: capitalize;
    color: #adc3e9;
    font-weight: bold;
    letter-spacing: 0.2rem;
    transition: all 0.3s linear;
    padding: 0.5rem 0;
  }
  .nav-links a:hover {
    color: hsl(209, 61%, 16%);
    box-shadow: 0px 2px hsl(209, 61%, 16%);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

/* Footer */

.footer {
  height: 9rem;

  border-top: 2px solid #96b7f1;
  background: #061125;
  text-align: center;
  display: grid;
  place-items: center;
}
.footer h4 {
  margin-top: 0.5rem;
  color: #fff;
  color: #797e85;
  font-weight: normal;
  text-transform: uppercase;
}
.footer h4 span {
  color: #2caeba;
}
.footer-links {
  margin: 0 auto 1rem auto;
}
.footer .social-link {
  color: #fff;
}
.footer .social-link:hover {
  color: #2caeba;
}

/* //// HEro */

.section-center {
  width: 90vw;
  margin: 0 auto;
  /* max-width: 1170px; */
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.hero {
  margin-top: -5rem;
  padding-top: 5rem;
  height: 100vh;
  background: hsl(186, 100%, 94%);
  position: relative;
}

.hero-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-info {
  /* background: #050d1c; */
}
.hero-img {
  display: block;
}
.hero-info h4 {
  color: hsl(210, 22%, 49%);
}
.hero-icons {
  justify-items: flex-start;
}
.hero .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    right: 0;
    bottom: 0;
    background: #fff;
  }
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }
  .hero h4 {
    font-size: 0.85rem;
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 7/ 14;
    z-index: 1000000;
  }
  .hero-img {
    display: block;
    grid-row: -1/1;
    grid-column: 1/9;
    height: 100%;
    z-index: 1;
  }
  .info-hero {
    /* z-index: 1000000; */
    grid-template-columns: repeat(4, 1fr);
    color: green;
    grid-row: 1/1;
    grid-column: 2/ 4;
  }
}
/* ////////////About US */

.service {
  background: #061125;
  border: 1px solid hsl(185, 94%, 87%);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.service p {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.service:hover {
  background: #050d1c;
  color: hsl(185, 94%, 87%);
}
.service:hover p {
  color: hsl(185, 94%, 87%);
}
.service:hover .underline {
  background: hsl(185, 94%, 87%);
}
@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* //// about */

.about-center {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}
.about-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  color: #c6d7d8;
}
.about {
  border: 1px solid hsl(185, 94%, 87%);
}
.about-btn:hover {
  color: #2caeba;
  box-shadow: 0 2px #2caeba;
}
.active-btn {
  color: #2caeba;
  box-shadow: 0 2px #2caeba;
}
.about-info {
  min-height: 420px;
  color: #f8f8f8;
}
.about-info h3 {
  font-weight: 400;
}
/* .about-info h4 {
  text-transform: uppercase;
  color: hsl(210, 22%, 49%);
  background: hsl(212, 33%, 89%);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
} */

.about-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.about-desc p {
  margin-bottom: 0;
  color: hsl(209, 34%, 30%);
}
.about-icon {
  color: #2caeba;
}
@media screen and (min-width: 992px) {
  .about-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .about-btn {
    margin-bottom: 1rem;
  }
  .active-btn {
    box-shadow: -2px 0 #2caeba;
  }
  .about-btn:hover {
    box-shadow: -2px 0 #2caeba;
  }
}
