.event-parent-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
    grid-auto-rows: auto; /* Automatically adds rows as needed */
    max-width: 1200px;
    width: 100%;
    gap: 1.4rem; /* Adjust the gap as needed */
    justify-content: center;
    place-items: start;
}

@include media( '<=large' ) {

    .event-parent-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@include media( '<=medium' ) {

    .event-parent-container{
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
}

.event-container{
    // padding: 0 1.5rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.079);
    border-radius: 7px;
    min-height: 300px;
    width: 337px;
    overflow: hidden;

    .event-poster-container{
        height: 270px;
        overflow: hidden;
        margin:0 0 5px;
        width: 100%;
        .event-poster{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .event-content-container{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap:1rem;
      
        // line-height:0px; 
        h3{
            font-size:1.2789rem;
            font-weight: 700;
            line-height: 0px;
        }
        p{
            margin-top:-10px;
            font-size: .8rem;
            // line-height: 0px;
        }
    }

}

